body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Goudy";
  src: url("./fonts/goudy/GoudyMediaeval-Regular.ttf");
}

@font-face {
  font-family: "RomanUncialModern";
  src: url(./fonts//RomanUncialModern.ttf);
}


* {
  font-family: "RomanUncialModern";
}
